<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "content">
        <h1>Register!</h1>

        <!-- <table>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>

            {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href= "/delete/{{task.id}}">Delete</a>
                    <br>
                </td>
            </tr>
            {% endfor %}
        </table> -->

        <form action = "/" method = "POST">
            <input type = "text" name = "content" id = "content"> <br>
            <select name = "organization" id = "organization">
                <option>NBA</option>
                <option>NFL</option>
                <option>NHL</option>
                <option>WNBA</option>
                <option>NASCAR</option>
            </select> <br>
            <input type = "submit" value = "Submit">
        </form>

        <h2>Link to second document</h2>
        <a href = "displaylist.html">Display List</a>

    </div>
</body>
</html>